.header {
    text-align: center;
}

.content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.ex-img {
    display: block;
    margin: 20px auto;
    width: 600px;
}

.button-sign-up {
    border-radius: 50px;
    width: 120px;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.buttons {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #4a90e2;
    color: white;
    font-size: 14px;
    cursor: pointer;  
}

.button-black {
    color: #ffffff;
    background-color: black;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    padding: 9px;
}

.footer {
    text-align: center;
    color: #ffffff;
    background-color: black;
    font-size: 25px;
}
